
.calc {
  max-width: var(--calc-width);
  margin: auto;
}

.calc .header {
  height: 54px;
  margin-bottom: 17px;
  padding-top: calc(54px / 2.3);
  /* padding-top: 17px; */
  padding-bottom: 8.5px;
  box-shadow: 0 1px 0 0 #f1f1f21c;
  background: #1a1c24;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  overscroll-behavior: none;
  overflow: hidden;
  z-index: 100;
}

.calc .header .number,
.calc .header .history {
  display: flex;
  align-items: center;
  position: relative;
  padding: calc(12px + 7px) 0;
  padding-left: 31.5px;
  color: rgba(241, 241, 242, 0.92);
  max-width: calc(var(--calc-width) - 34.5px * 2);
  overflow-x: overlay;
  white-space: nowrap;
  /* font-variant-numeric: tabular-nums; */
  font-weight: normal;
  font-size: 29px;
  outline: none;
  user-select: text;
  -webkit-user-select: text;
  width: 100%;
  top: 0;
  /* font-family: 'Mono Sans'; */
}

.calc .header .number:empty::before {
  content: ' ';
  pointer-events: none;
  opacity: 0;
}

.calc .header .history {
  position: absolute;
  top: -9px;
  font-size: 16px;
  z-index: 1;
  padding-bottom: 0;
  user-select: none;
  -webkit-user-select: none;
  white-space: pre;
  opacity: .2;
  display: none;
}

.calc.history .header .history {
  display: flex;
}

.calc .header .history.transition {
  font-size: 29px;
  opacity: 1;
  top: 14px;
  transition: .18s var(--ease-function);
}

.calc .header .number.transition {
  top: 16px;
  font-size: 16px;
  opacity: 0;
  user-select: none;
  -webkit-user-select: none;
  transition: .18s var(--ease-function);
}

.calc .buttons {
  display: flex;
  flex-flow: column;
}

.calc .buttons .row {
  display: flex;
  width: 100%;
}

.calc .buttons .row.new-section {
  padding-top: calc(54px / 2.5);
  /* padding-top: 11px; */
}

.calc .buttons .button {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 54px;
  font-size: 25px;
  font-size: 21px;
  /* font-variant-numeric: tabular-nums; */
  border-radius: 12px;
  border-radius: 9px;
}

body:not(.mobile) .calc .buttons .button:hover {
  background: rgba(255,255,255,0.05);
}

.calc .buttons .button:active,
.calc .buttons .button.active,
.calc.shift .buttons .shift {
  background: rgba(255,255,255,0.1) !important;
}

.calc .buttons .button.active:active,
.calc.shift .buttons .shift:active {
  background: rgba(255,255,255,0.05);
}

.calc .buttons .button.text {
  font-size: 18px;
}

.calc:not(.shift) .buttons .shift .active,
.calc.shift .buttons .shift .inactive {
  display: none;
}

.calc:not(.shift) .buttons .button.show-on-shift {
  display: none;
}

.calc.shift .buttons .button.hide-on-shift {
  display: none;
}

.calc .buttons .button svg path {
  fill: currentColor;
}




html,
body {
  background: #1a1c24;
  color: #d4d5d7;
  caret-color: #fff;
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Inter', system-ui, sans-serif;
}

body {
  --calc-width: 350px;
  --rosemary-blue: hsl(223deg 88% 52%);
  --rosemary-light: hsl(223deg 85% 54%);
  --rosemary-lighter: hsl(223deg 86% 64%);
  --rosemary-lightness-deluxe: hsl(223deg 86% 73%);
  --sea-blue-hint: #313744;
  --deep-midnight-blue: hsl(228deg 14% 7%);
  --midnight-blue: #1a1c24;
  --midnight-light: hsl(227deg 11% 16%);
  --midnight-lighter: hsl(226deg 7% 19%);
  --button-main: var(--rosemary-blue);
  --button-hover: var(--rosemary-light);
  --editor-background: var(--sea-blue-hint);
  --sidebar-background: var(--rosemary-blue);
  --sidebar-hover: var(--midnight-light);
  --sidebar-active: var(--midnight-lighter);
  --spacing-1: 7px;
  --spacing-2: calc(var(--spacing-1) * 2);
  --spacing-3: calc(var(--spacing-1) * 3);
  --spacing-4: calc(var(--spacing-1) * 4);
  --spacing-5: calc(var(--spacing-1) * 5);
  --spacing-6: calc(var(--spacing-1) * 6);
  --spacing-7: calc(var(--spacing-1) * 7);
  --ease-function: cubic-bezier(0.32, 0.08, 0.24, 1);
  --cubic-function: cubic-bezier(0.4, 0, 0.25, 1);
  --bounce-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
  tab-size: 2;
}

::selection {
  background: rgba(255, 255, 255, 0.15);
}

html,
body {
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  touch-action: manipulation;
  overscroll-behavior: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
}

